<h1> Sign In! </h1>

<%= form_for(@user, :url => "/sessions" ) do |f| %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<!-- REV: f.password_field might be more appropriate here-->
<%= f.text_field :password %>

<%= f.submit %>

<% end %>
